.current{
  background: blue;
}
/*li{
  display: flex;
  justify-content: space-evenly;
  border: 3px solid black;/*This creates a black boarder around the words*/
  /*padding: 5px;/*This adds space between the words and the box*/
  /*margin: 4px;/*This adds space outsides of the border*/
  /*list-style-type: none;/*This causes the list to not have bullets*/
  /*background-color: #06048f;
}*/
.teamOptions{
  padding:20px;
  margin-top: 200px;
  display: flex;
}
#currentNote{
  margin-top: 200px;
}
.blackFont{
  margin-top: 200px;
  color: black;
}

.team{
    padding: 60px;
    background-color: #06048f;
    margin-right: 10px;
    flex-basis: 50%;
    font-size: 30px;
    text-align: center;
}
.opp{
    padding: 60px;
    background-color: #06048f;
    flex-basis: 50%;
    font-size: 30px;
  text-align: center;
}


