header{
  position: fixed;
  float: left;

  z-index: 10;

  top: 0px;
  left: 0px;

  min-height 100px: 
  height: 5%;
  width: 100%;

  background-color: rgb(80,20,210);
}

#loginBox{
  min-margin-top = 105px;
  margin-top = 6%;
}
