<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Scouting Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='response.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
    <script>
    function printDiv(button) {
    var divToPrint = button.closest('.report');
    var printWindow = window.open('', '', 'height=600,width=800');
    printWindow.document.write('<html><head><title>Print Report</title>');
    printWindow.document.write('<link rel="stylesheet" href="report.css">');
    printWindow.document.write('<link rel="stylesheet" href="styling.css">');
    printWindow.document.write('<link rel="stylesheet" href="nav.css">');
    printWindow.document.write('<link rel="stylesheet" href="response.css">');


    printWindow.document.write('</head><body>');
    printWindow.document.write(divToPrint.innerHTML);
    printWindow.document.write('</body></html>');
    printWindow.document.close();
    printWindow.print();
    setTimeout(function() {
        printWindow.close();
    }, 0.0001);
}
    </script>
    <script>
function printAllReports() {
        var printContent = '';
        var reports = document.querySelectorAll('.report');
        reports.forEach(function(report) {
            printContent += report.innerHTML + '<hr>';
        });

        var printWindow = window.open('', '', 'height=600,width=800');
        printWindow.document.write('<html><head><title>Print All Reports</title>');
        printWindow.document.write('<link rel="stylesheet" href="' + "{{ url_for('static', filename='styling.css') }}" + '">');
        printWindow.document.write('<link rel="stylesheet" href="' + "{{ url_for('static', filename='response.css') }}" + '">');
        printWindow.document.write('<link rel="stylesheet" href="' + "{{ url_for('static', filename='nav.css') }}" + '">');
        printWindow.document.write('<link rel="stylesheet" href="' + "{{ url_for('static', filename='report.css') }}" + '">');
        printWindow.document.write('</head><body>');
        printWindow.document.write(printContent);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
        setTimeout(function() {
            printWindow.close();
        }, 0.0001);
    }
    </script>
</head>
<body>
    <h1 id="heading">
       <!-- <img id="logo" src="./soccerCrest.png" height=50> -->
    
        <span id="title"> DRHS Girls' Soccer Statistics</span> 
        <!--<img id="logo" src="./soccerCrest.png" height=50>-->
    </h1>  

  <div id="header-box">
        <nav id="navbar">

      <button><a href="{{ url_for('main') }}">View Reports</a></button>
      <button><a href="{{ url_for('create') }}">Write a Report</a></button>
      <button><a href="{{ url_for('home') }}">Back to the Home Page</a></button>
      <button><a href="{{ url_for('logout') }}">Log Out</a></button>


            

  </nav>
  </div>
  </header>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
    
</body>
</html>
