{% extends 'game.html' %}

{% block content %}
    <h1>{% block title %} Game Reports {% endblock %}</h1>
    <br>
    {% for game in game_report %}
<hr>
        <div class="fieldWrap">
        <div class="wrap">
            <h3>Opponent: {{ game[2]}} - {{game[1] }}</h3>
            <div><p class = "italics">Score: {{ game[3]}} : {{game[4] }}</p></div>
            <p class="italics">Home Goals: {{ game[3] }}</p>
            <p class="italics">Opponent Goals: {{ game[4] }}</p>
            <p class="italics">Goal Scorer #: {{ game[5] }}</p>
            <p class="italics">Assister #: {{ game[6] }}</p>
            <p class = "italics, line">Goal Description (Assist # : Scorer # : Description): <br><br>{{ game[7] }}</p>
            <p class = "italics">Opponent Shots On Goal: {{ game[23] }}</p>            
            <p class = "italics">Shots On Goal: {{ game[18] }}</p>            
            <p class = "italics, line">Player # SOG: <br>{{ game[19] }}</p>
            <p class = "italics">Goalie Saves: {{ game[8] }}</p>
            <p class = "italics">Opponent Goalie Saves: {{ game[26] }}</p>
            <p class = "italics">Home Corner Kicks: {{ game[9] }}</p>
            <p class = "italics">Opponent Corner Kicks: {{ game[10] }}</p>
            <p class = "italics">Direct Kicks: {{ game[20] }}</p> 
            <p class = "italics">Opponent Direct Kicks: {{ game[24] }}</p>                       
            <p class = "italics">Indirect Kicks: {{ game[21] }}</p>
            <p class = "italics">Opponent Indirect Kicks: {{ game[25] }}</p>
            <p class = "italics">Home Goal Kicks: {{ game[12] }}</p>
            <p class = "italics">Opponent Goal Kicks: {{ game[13] }}</p>  
            <p class = "italics">Fouls: {{ game[11] }}</p>          
            <p class = "italics, line">Lineup (Player # : Position): <br>{{ game[14] }}</p>
            <p class="italics, line">Field Conditions: {{ game[15] }}</p>
            <p class="italics, line">Weather Conditions: {{ game[16] }}</p>
            <p class = "italics, line">Notes: {{ game[22] }}</p>
            <p class = "italics">Added: {{ game[17] }}</p>

            {% if current_user.isadmin %}
            <button><a  class = "box" href="{{ url_for('deleteGame', id=game[0]) }}">Delete a Game</a></button>
            <button><a  class = "box" href="{{ url_for('editGames', id=game[0]) }}">Edit a Game</a></button>
            {% endif %} 

        </div>       

        </div>
        <br>
    {% endfor %}
{% endblock %}
