<!DOCTYPE html>
  <html>
	  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    	<title>DRHS Girls' Soccer Statistics</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pics.css') }}">
	
</head>
<body>
  {% if current_user.is_authenticated %}

      <header>
      <h1 id="heading">
        
        <img id="logo" src="{{ url_for('static', filename='images/wildcat.png') }}" height="50">
	      <span> DRHS Girls' Soccer Statistics</span> 
        <img id="logo" src="{{ url_for('static', filename='images/wildcat.png') }}" height="50">
      </h1>  
        <div id="header-box">
          <nav id="navbar">
            {% if current_user.is_authenticated %}
                <button class="box"><a href="{{ url_for('index') }}">Log In</a></button>
                <button class="box"><a href="{{ url_for('home') }}">Home</a></button>
              {% if current_user.isadmin %}
                <button><a href="{{ url_for('createReport') }}">New Game</a></button>
              {% endif %}
              {% if current_user.isadmin or current_user.iseditor %}            
                <button class="box"><a href="{{ url_for('main') }}">Scouting Report</a></button>
              {% endif %}  
              {% if current_user.isreadonly or current_user.iseditor %}            
              <button class="box"><a href="{{ url_for('gameReport') }}">Game Report</a></button>
            {% endif %} 
              {% if current_user.isadmin or current_user.isreadonly or current_user.iseditor %}        
                <button> <a href= "https://www.instagram.com/deeprunwsoccer/">Instagram</a> </button>
                <button><a href="https://youtube.com/@caryhall7yt?si=7oYAXpf_yfneXzWB">Soccer Videos</a></button>
                <button class="box"><a href="{{ url_for('logout') }}">Log Out</a></button>
              {% endif %}
     
            {% endif %}


	</nav>
	</div>
    </header>
    <img class="pics" src="{{ url_for('static', filename='images/DSC07592.JPG') }}">
    <img class="pics" src="{{ url_for('static', filename='images/DSC00046.JPG') }}">
    <img class="pics" src="{{ url_for('static', filename='images/DSC00877.JPG') }}">
    <img class="pics" src="{{ url_for('static', filename='images/DSC01114.JPG') }}">
    <img class="pics" src="{{ url_for('static', filename='images/DSC06715.JPG') }}">
    <img class="pics" src="{{ url_for('static', filename='images/DSC07599.JPG') }}">
    <img class="pics" src="{{ url_for('static', filename='images/DSC08471.JPG') }}">
    <img class="pics" src="{{ url_for('static', filename='images/DSC09261.JPG') }}">
    {% endif %}
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <main>
      {% if current_user.is_authenticated %}

{% endif %}

      
      {% block content %}   
      {% endblock %}
  </main>
  </body>
</html>
