<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    		<title>DRHS Girls' Soccer Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  	</head>
  
  
  <body>
      
    <header>
      <h1 id="heading">
        <img id="logo" src="{{ url_for('static', filename='images/soccerCrest.png') }}" height="50">
	      <span> DRHS Girls' Soccer Statistics</span> 
        <img id="logo" src="{{ url_for('static', filename='images/soccerCrest.png') }}" height="50">
      </h1>  
    </header>

    

    <div id="wrapper">
      <div id="intro">
        <h2>Welcome to the DRHS Soccer Stats Website! </h2>
        <p>Log in by entering the details provided to you.</p>
      </div>
	<p id = "tester"></p>
    <div id="loginBox">
      <form method="POST">
      <label for="username" >Username:</label>
      <p class="small"></p>
      <input type="text" id="username" name="username" class="fullWidthInput">
      <p class="mini"></p>
      <label for="password">Password:</label>
      <p class="small"></p>
      <input type="password" id="password" name="password" class="blackText fullWidthInput" style="margin-bottom: 0.5em;">
      <button id="submit" class="fullWidthInput">Login</button>
    </form>
    </div>
    </div>
  <br>
  </body>
</html>
